@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <video controls autoplay>
        <source src="~/css/Spider-Man_No_Way_Home.2022.1080p.BluRay.MyCima.world.mp4" style="width:400px"/>
    </video>
    <br />
    <div class="text">
       <form>
            <input type="text" placeholder="Write a comment" />
            <input type="checkbox" /> Like
            <input type="checkbox" /> DisLike
           <input type="submit" value="Submit" />
       </form>
    </div>
</div>
